<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Início </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>

      <ion-col size="12" size-md="4">
        <ion-card style="text-align: center">
          <img
            src="../../assets/img/background.jpg"
            width="100%"
            alt="paisagem"
          />
          <ion-card-header>
            <ion-card-title>Início</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <h2>Sobre o aplicativo</h2>
            <p style="text-align: justify">
              Este é um exemplo de uma aplicação ionic feito por Rayane
              Cristina, estudante de Análise e desenvolvimento de sistemas e
              aspirante na área de desenvolvimento mobile.
            </p>

            <ion-list>
              <h2>Tecnologias usadas</h2>
              <ion-item>
                <ion-label>Ionic</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>API ViaCep</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>API openstreetmap</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
